.div{
    color: #e14576;
    color: #dc03da;
    color: #fa4550;
    color: #ca2062cf;
    color: #ed4354;
    color: #edbb01;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;font-family: 'Alkatra', cursive;
}
.container {
    width: 100%;height: 100vh;
    padding: 19px 10%;
    background-color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    letter-spacing: -6px;
    font-size: 40px;
    text-transform: uppercase;
}
h1 .f{
    color: #fa4550;
}
h1 .l{
    color: #dc03da;
}
h1 .o{
    color: #e14576;
}
h1 .w{
    color: #ed4354;
}
h1 .e{
    color: #edbb01;
}
h1 .r{
    color: #ca2062cf;
}

menu li {
    display: inline-block;
    margin-left: 20px;
}
menu li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    transition: 0.35s;
}
menu li a:hover{
    color: #fff !important;
}
menu li:first-child a{
    color: #fa4550;
}
menu li:nth-child(2) a{
    color: #dc03da;
}

menu li:nth-child(3) a{
    color: #e14576;
}
menu li:nth-child(4) a{
    color: #ed4354;
}
menu li:nth-child(5) a{
    color: #edbb01;
}

menu li:last-child a{
    color: #ca2062cf;
}

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.contain .text {
    color: #fff;
    width: 40%;
    
}
.contain .text h2 {
    font-size: 50px;
    background: linear-gradient(45deg,#ca2062cf, #edbb01, #ed4354, #fa4550, #dc03da, #e14576);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contain .text p {
    font-size: 19px;
    margin: 20px 0;
    line-height: 1.7;
    letter-spacing: 1.3px;
}
.boxes {
    display: flex;
    justify-content: center;
}
.boxes .box{
    transform: rotate(-25deg);
    transition: 0.35s;
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.boxes .box:hover{
    border: 5px solid transparent;
    outline: 5px solid #fff;
}
.boxes .box:first-child{
    background-color: #ca2062cf;
}
.boxes .box:nth-child(2){
    background-color: #edbb01;
}
.boxes .box:nth-child(3){
    background-color: #e62b3d;
}
.boxes .box:nth-child(4){
    background-color: #fa4550;
}
.boxes .box:nth-child(5){
    background-color: #dc03da;
}
.boxes .box:last-child{
    background-color: #000;
}